<section class="client container" ng-controller="ClientCtrl">
	 <!--============= views.name = "qrcodeHost" ============= -->
    <div ng-if="(views.name == 'qrcodeHost')">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-info"><i class="glyphicon glyphicon-user"></i>&nbsp; {{player.id}}</h1>
                <div class="alert alert-warning">Wait for your challenger...</div>
            </div>
        </div>

    </div>
    <!--============= END VIEW ============= -->


    <!--============= views.name = "chooseWorkoutTime" ============= -->
    <div ng-if="(views.name == 'chooseWorkoutTime')">
       <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-info"><i class="glyphicon glyphicon-user"></i>&nbsp; {{player.id}}</h1>
                <div class="alert alert-info">Please choose your workout time</div>
            </div>
       </div>
    </div>
    <!--============= END VIEW ============= -->

    <!--============= views.name = "getReady" ============= -->
    <div ng-if="(views.name == 'getReady')">
         <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-center"><i class="glyphicon glyphicon-user"></i>&nbsp; {{player.id}}</h1>
                <div class="alert alert-danger"><h3>Get Ready!</h3></div>
            </div> 
        </div>
    </div>
    <!--============= END VIEW ============= -->


    <!--============= views.name = "gamePlay" ============= -->
    <div ng-if="(views.name == 'gamePlay')">
        <div class="row">
            <div class="col-md-12 text-center">
                    <h1 class="text-info"><i class="glyphicon glyphicon-user"></i>&nbsp; {{player.id}}</h1>
                    <!-- NO EXERCISE BEEN GIVEN -->
                    <div ng-if="!player.exercise">
                        <!-- if isMobile() -->
                            <div ng-if="isMobile()">
                                <img style="display:inline;" src="images/shake-instruction.png" alt="Shake to get your exercise"> 
                                <div class="alert alert-info">Shake your phone!</div>                   
                            </div>
                        <!-- END -->

                        <!-- if !isMobile() -->
                            <div ng-if="!isMobile()">
                                <button type="button" ng-class="{ 'active' : time.active }" class="btn btn-default btn-lg btn-block" ng-click="requestExercise()">Give me an exercise!</button>
                            </div>
                        <!-- END -->
                        
                    </div> 
                    <!-- END -->
                   
                    <!-- EXERCISE IS GIVEN -->
                    <div ng-if="player.exercise">
                        <!-- GO IN TO THE REPETITION MODE -->
                        <div ng-if="player.exercise.repetitions">
                            <img src="images/working-out-smiley.png" alt="Working out smiley" />
                            <br>
                            <br>
                            <button ng-if="!isMobile()" type="button" ng-class="{ 'active' : time.active }" class="btn btn-default btn-lg btn-block" ng-click="requestExercise()">Move onto the next exercise</button>
                        </div>   
                        <!-- END -->

                        <!-- GO IN TO THE REPETITION MODE -->
                        <div ng-if="player.exercise.time">
                            <p class="text-danger" style="font-size: 60px;"><i class="glyphicon glyphicon-time" ></i>&nbsp; {{timeLeft}}</p>
                        </div>
                        <!-- END -->
                    </div> 
                    <!-- END -->                 
            </div>
        </div>
    </div>
    <!--============= END VIEW ============= -->
</section>